@model OpenEditorial.Models.Pages.NewsArchive
@{
    ViewBag.Title = Model.Title;
}

<partial name="Partial/_PageHeader.cshtml" />

@foreach (var news in Model.Archive.Posts)
{
    <div>
        <p class="text-muted float-right">@news.Published.Value.ToShortDateString()</p>
        <p class="h5 text-primary">
            <a href="@news.Permalink">@news.Title</a>
            @*<a href="~/@(WebApp.Site.Culture)/news/@(news.Id)">@news.Title</a>*@
        </p>
        <p>@Html.Raw(news.Abstract)</p>
    </div>
    <hr />
}